<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front"><a href="https://www.linkedin.com/in/dima-morgun-08777610a/">LinkedIn</a></div>
    <div class="cube__face cube__face--back"></div>
    <div class="cube__face cube__face--right"><a href="https://github.com/DimaMorgun">Github</a></div>
    <div class="cube__face cube__face--left"></div>
    <div class="cube__face cube__face--top"></div>
    <div class="cube__face cube__face--bottom"><a href="https://www.youtube.com/channel/UCM6TP6BiRnDol8FwLWtbeLA?view_as=subscriber">YouTube</a></div>
  </div>
</div>
