<form novalidate #myForm="ngForm">
  <kendo-grid [kendoGridBinding]="books"
              [height]="533"
              [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
              [pageable]="true" [sortable]="true"
              (dataStateChange)="onStateChange($event)"
              (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event, myForm)"
              [navigable]="true">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand type="button">Add new</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.name" kendoGridFocusable name="name" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="yearOfPublishing" title="Year of publishing">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.yearOfPublishing" kendoGridFocusable name="yearOfPublishing" class="k-textbox" type="number" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Authors">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span *ngFor="let author of dataItem.authors">{{author.name}}. </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <kendo-multiselect name="dataItem.authors"
                           [data]="allAuthors"
                           textField="name"
                           valueField="authorId"
                           [(ngModel)]="dataItem.authors">
        </kendo-multiselect>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Publication houses">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span *ngFor="let publicationHouse of dataItem.publicationHouses">{{publicationHouse.name}}. </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <kendo-multiselect name="dataItem.publicationHouses"
                           [data]="allPublicationHouses"
                           textField="name"
                           valueField="publicationHouseId"
                           [(ngModel)]="dataItem.publicationHouses">
        </kendo-multiselect>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand type="button" class="k-primary">Edit</button>
        <button kendoGridRemoveCommand type="button">Remove</button>
        <button kendoGridSaveCommand type="button"
                [disabled]="myForm.invalid || myForm.pristine">
          {{ isNew ? 'Add' : 'Update' }}
        </button>
        <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
